# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*

# environment
.env
/uploads

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# uploads
uploads/*
!uploads/.gitkeep

# coverage
coverage
